{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>decrytion page</title>
</head>

<body>


    <form action={% url 'cipher:decrypted'  %} method="post">
        {% csrf_token %}
        <label for='alphabet'>Alphabet</label>
        <input type="text" name="alphabet" id="" value='{{alphabet}}'>
        <label for='ciphertext'>Ciphertext</label>
        <input type="text" name="ciphertext" id="" value='{{ciphertext}}'>
        <label for='key'>Key</label>
        <input type="text" name="key" id="" value='{{key}}'>
        <input type="submit" value="Decrypt">
    </form>

    {% block answer %}
    <p>if you press the button we'll encode that</p>
    {% endblock %}
</body>

</html>